:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  background: repeat url("./assets/hex-dark-bg.webp") fixed;
  /* background-size: repeat; */
}

#mySidenav, #main-logo{
    display: grid;
    visibility: hidden;
    height: 0;
    width: 0;
}

a { 
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  font-family: "Lexend", sans-serif;
}
a:hover {
  color: goldenrod;
}
a.active{
  color: goldenrod;
text-decoration: underline;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#footer-container{
    display: grid;
    place-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
  font-family: "Lexend", sans-serif;
}

h2, h3, h4, h5, h6{
    font-family: "Lexend", sans-serif;
}

p{
    font-family: "Lexend", sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.generic-button{
    background-color: rgba(32, 106, 218, 0.484);
    color: white;

    & a{
        color: white;
    }
}

.generic-button:hover{
    transition: 0.4s all ease-in-out;
    background-color: rgba(32, 106, 218, 1);
    border: rgba(32, 106, 218)
}

/* CONTAINERS -------------------------- */
#app-container {
    /* border: 1px solid red; */
    width: 90dvw;
    /* height: 90dvh; */
    display: grid;
    justify-content: center;
    align-content: space-between;
}

#main-section-container{
    /* border: 2px dotted goldenrod; */
    margin: 1rem;
    padding: 1rem;
}

#home-container{
    /* border: 1px solid cyan; */
    margin: 1rem;
    padding: 2rem;
}

#navbar-container{
    position: absolute;
    top: 0;
    /* right: 25dvw; */
    /* border: 1px solid rgb(11, 255, 11); */
    margin: 1rem;
    padding: 1rem;
    display: flex;
    width: 85%;
    justify-content: space-between;

    & a{
        color: rgb(215, 215, 215);
    }
    & .nav-link:hover{
        color: goldenrod;
    }
    & .nav-link.active{
        color: goldenrod;
        text-decoration: underline;
    }
}

#to-listen-container{
    /* border: 1px solid pink; */
    margin: 1rem;
    padding: 1rem;
}

#listened-container{
    /* border: 1px solid greenyellow; */
    margin: 1rem;
    padding: 1rem;
}


/* NAVBAR START -------------------------- */

.dropdown-content{
    /* border: 1px dashed red; */
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

#app-title{
    margin: 0 10rem 0 1rem;
    font-family: "Lexend", sans-serif;
}

#app-title:hover{
    transition: 0.3s all ease-in-out;
    color: goldenrod;
}

.nav-link{
    margin: 0 1rem;
}

/* NAVBAR END ---------------------------- */

/* SEARCH BAR START ---------------------- */
/* #search-icon{
    transform: scale(0.1);
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 20px 5px black;
} */

#search-bar-container{
    /* border: 1px solid greenyellow; */
    padding: 1rem;
    margin: 1rem;
    display: grid;
    font-size: 2rem;
}

#search-form{
    color: rgb(255, 255, 255);
    font-family: "Lexend", sans-serif;
    width: 100%;
    text-align: center;
    border-radius: 2px;
}

#search-dropdown{
    display: grid;
}

.search-result-button{
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: #1a1a1a95;
}

.search-result-button:hover{
    border: 1px solid goldenrod;
}

.search-result{
    /* border: 2px dotted red; */
    display: flex;
}

.search-icon{
    width: 100px;
    height: auto;
    box-shadow: 2px 2px 20px 5px black;
}

.search-result-details{
    display: inline-block;
    text-align: left;
    margin-left: 1rem;
}

/* SEARCH BAR END ------------------------ */

/* ALBUM CARD START ---------------------- */
#album-card-container{
    display: flex;
    /* border: 2px dotted cyan; */
    border: 1px solid goldenrod;
    background: url("./assets/spiration-dark.webp") fixed;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
}

#album-info-review{
    display: inline-block;
    /* border: 2px dotted orange; */
}
#album-info-art{
    display: flex;
}

#album-info{
    display: inline-block;
    text-align: left;
    padding: 0 1rem;
    /* border: 2px dotted greenyellow; */
}
#album-review{
    text-align: left;
    /* border: 2px dotted purple; */
}
#album-icons{
    /* border: 2px dashed pink; */
    display: grid;
}

.album-button{
    margin: 1rem;
    background-color: #1a1a1ab5;
    font-family: "Lexend", sans-serif;
}

.album-button:hover{
    border: 1px solid goldenrod;
    color: goldenrod;
}


/* ALBUM CARD END ------------------------ */


/* TO LISTEN START ----------------------- */
#to-listen-gallery{
    /* border: 2px solid cyan; */
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

#album-card-to-listen{
    background: repeat url("./assets/spiration-dark.webp") fixed;
    /* border: 1px solid white; */
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem 0;
    padding-right: 1rem;
 }

.album-art{
    height: 150px;
    box-shadow: 2px 2px 20px 5px black;
 }

 .album-card-art{
    box-shadow: 2px 2px 20px 5px black;
 }

.album-info{
    margin: 1rem;
}

.submit-button{
    font-family: "Lexend",sans-serif;
}

.submit-button:hover{
    border: 1px solid goldenrod;
    color: goldenrod;
}

/* TO LISTEN END ------------------------- */

/* LISTENED START------------------------- */
#rating{
    display: flex;
    justify-content: center;
}

.listened-album-info{
    display: inline-block;
    text-align: left;
    margin-left: 1rem;
}

.album-art-name{
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.listened-buttons-container{
    /* border: 1px dashed white; */
    font-family: "Lexend", sans-serif;
}

.review-button{
  /* border: 1px dashed white; */
  border: 1px solid #348544;
  overflow: hidden;
  transition: 0.5s all ease;
  margin: 1rem;
}

.review-button:hover{
    background-color: #348544;
    border: 1px solid #348544;
    font-size: 1.1rem;
}

.delete-button{
    /* border: 1px dashed white; */
  border: 1px solid #e06b59;
  overflow: hidden;
  transition: 0.5s all ease;
  margin: 1rem;
}

.delete-button:hover{
    background-color: #e06b59;
    border: 1px solid #e06b59;
    font-size: 1.1rem;
}

/* LISTENED END -------------------------- */

/* PROFILE START ------------------------- */

#profile-gallery{
    /* border: 2px solid rgb(11, 255, 11); */
    background: url("./assets/spiration-dark.webp") fixed;
    display: flex;
    flex-wrap: wrap;
    place-content: space-evenly;
    place-items: center;
    margin: 1rem;
}

.profile-album-art{
    width: 20dvw;
    margin: 1rem;
    box-shadow: 2px 2px 20px 5px black;
    align-items: flex-start;
}

.recent-activity-item{
    max-width: 30dvw;
    display: inline;
    place-content: center;
    text-align: center;
    margin: 1rem;
}

/* PROFILE END --------------------------- */

/* SNACKBAR STYLING START ---------------------------- */
#snackbar, #snackbar2 {
    visibility: hidden;
    min-width: 100px;
    margin-left: -125px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transform: scale(1);
}

#snackbar.show, #snackbar2.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/* SNACKBAR STYLING END ------------------------- */




/* MEDIA QUERIES --------------------------- */
/* mobile devices (phones) */
@media screen and (max-width: 568px){
    #root{
        width: 100dvw;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: flex-start;
        overflow-x: hidden;
        height: 100%;
    }

    #app-container{
        display: flex;
        flex-direction: column;
        /* height: 96dvh; */
        justify-content: space-between;
    }

    #main-section-container{
        margin-top: -3rem;
        margin: 0;
        padding: 1rem;
    }

    #home-container{
        margin: 0;
        place-content: center;
        place-items: center;
        text-align: center;
    }

    #login-text{
        justify-content: space-between;
        align-items: center;
    }

    #register-form{
        display: grid;
        place-content: center;
        place-items: center;
    }

    #footer-container{
        margin-top: 5rem;
        display: grid;
        place-items: center;
    }

    /* PROFILE SECTION MOBILE START -------------------------- */
    #album-card-to-listen{
        display: grid;
        width: 100%;
        place-content: center;
        place-items: center;
    }

    .album-art-name{
        padding: 1rem 0;
        display: grid;
        place-items: center;
    }

    .listened-album-info{
        text-align: center;
    }

    .listened-buttons-container{
        display: flex;
        place-content: center;
    }

    #profile-gallery{
        display: grid;
        place-items: center;
    }

    .recent-activity-item{
        margin: 1rem 0;
        display: grid;
        place-content: center;
        place-items: center;
        text-align: center;
    }

    .profile-album-art, .album-art{
        width: 60dvw;
        height: auto;
    }

    /* PROFILE SECTION MOBILE END -------------------------- */

    /* TO LISTEN & LISTENED SECTION MOBILE START -------------------------- */
    #to-listen-container{
        margin:0;
    }

    #to-listen-header, #listened-header{
        padding: 0.3rem;
        margin: 0;
        text-align: center;
    }

    .album-info{
        text-align: center;
    }

    .listened-buttons-container{
        display: grid;
        place-items: center;
    }

    /* TO LISTEN & LISTENED SECTION MOBILE END ---------------------------- */

    /* SEARCH SECTION MOBILE START ---------------------------- */
    #search-bar-container{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        place-content: center;
    }

    #search-bar-header-form{
        display: grid;
        place-items: center;
    }

    #album-message{
        text-align: center;
    }

    #album-card-container{
        margin-top: 1rem;
        justify-content: center;
    }

    #album-info-review, #album-info-art{
        display: grid;
        place-items: center;
        margin: 0;
        padding: 0;
    }

    #album-info{
        text-align: center;
    }

    #album-icons{
        place-items: center;
    }

    .album-button{
        margin: 1rem 0;
    }

    .search-result{
        display: grid;
        place-content: center;
        place-items: center;
    }
    
    .search-result-details{
        text-align: center;
    }

    .search-icon{
        width: 30dvw;
        height: 100%;
    }

    /* SEARCH SECTION MOBILE END ---------------------------- */




    /* hide the main navbar on mobile */
    #navbar-container{
        display: grid;
        visibility: hidden;
        height: 0;
        width: 0;

        & .dropdown-content{
            display: grid;
            width: 0;
            height: 0;
        }
    }

    #main-logo{
        padding: 0;
        margin: 0;
        position: absolute;
        top: 1rem;
        right: 25vw;
    }

    /* SIDEBAR STYLING START --------------------------------- */
    & .container {
        display: inline-block;
        cursor: pointer;
        z-index: 10;
    }

    & #buttonX {
        position: fixed;
        z-index: 10;
        top: 1rem;
        left: 1rem;
    }

    & .bar1,
    & .bar2,
    & .bar3 {
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: 0.4s;
        z-index: 10;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    /* The side navigation menu */
    & .sidenav {
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        /* Stay at the top */
        left: 0;

        background: linear-gradient(
            218deg,
            rgba(0, 34, 64, 1) 0%,
            rgba(44, 11, 91, 1) 34%,
            rgba(129, 30, 54, 0.5) 64%,
            rgba(70, 6, 8, 0.7) 100%
        );

        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidenav */
        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.5);
    }

    /* The navigation menu links */
    & .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.5rem;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    & .sidenav a:hover {
        color: rgb(237, 196, 15);
        text-decoration: underline;
    }

    /* Position and style the close button (top right corner) */
    & .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* END SIDEBAR STYLING--------------------------------- */
}